@import url("modern-normalize.css");

:root {
  line-height: 1.5;
  box-sizing: border-box;
}

html {
  font-size: clamp(0.75rem, 0.5rem + 1.5vw, 1.5rem);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* END TEMPLATE */

:root.dark {
  --color-bg: #333132;
  --color-fg: #c8cfc1;
  --color-hl1: #55819f;
  --color-hl2: #8297a6;
  --color-alt1: #9f7355;
  --color-alt2: #a69182;
}

:root.light {
  --color-bg: #c8cfc1;
  --color-fg: #333132;
  --color-hl1: #8297a6;
  --color-hl2: #55819f;
  --color-alt1: #a69182;
  --color-alt2: #9f7355;
}

#page {
  display: grid;
  grid-template-areas: 
    "header header" 
    "sideA display" 
    "sideA display" 
    "footer footer";
  grid-template-rows: .5fr 2fr calc(100vh-2.65fr) .15fr;
  grid-template-columns: 20vw 80vw;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 1px bold var(--color-alt1);
}

#page>div {
  padding: 10px;
}

#sideA {
  grid-area: sideA;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#sideA div{
  display: flex;
  flex-direction: column;
}

#sideA button {
  border-radius: 10px;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 1px outset var(--color-alt1);
  cursor: pointer;
  padding: 5px;
}

.subheading {
  font-size: .5rem;
}

#addCategory {
  margin-bottom: 2rem;
}

#insertTags {
  text-align: center;
}

#header {
  grid-area: header;
  background-color: var(--color-hl1);
  display: flex;
  justify-content: center;
  gap: 50px;
}

#header h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

#header button {
  background: var(--color-fg);
  color: var(--color-bg);
  margin-right: 5vw;
  font-size: .7rem;
  border-radius: 25px;
  box-shadow: 5, 5, 5, var(--color-alt1);
  border: 2px var(--color-bg) solid;
  align-self: center;
  height: calc(fit-content + 1rem);
  cursor: pointer;
  margin-left: 20vw;
}

#header button:hover {
  background: linear-gradient(190deg, var(--color-fg), var(--color-bg));
}

#display {
  grid-area: display;
  display: flex;
  flex-wrap: wrap;
  border-left: 2px dashed var(--color-fg);
  grid-auto-flow: column;
  max-height: 80vw;
  max-width: 80vw;
  overflow: auto;
}

#display>div{
  background-color: var(--color-hl1);
  width: max-content;
  height: fit-content;
  border: var(--color-alt2) ridge 2px;
  padding: 5px;
  margin: 2px;
}

.todoTitle {
  font-weight: 600;
}

.complete {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  margin-left: 2px;
  font: inherit;
  color: currentColor;
  width: .8rem;
  height: .8rem;
  border: 2px ridge var(--color-alt1);
  border-radius: .1rem;
}

.delete-btn {
  background-color: #1f1f1f00;
  border: none;
  background-image: url('../trash-svgrepo-com.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

#sideA .delete-btn {
  position: relative;
  height: 25px;
  width: 25px;
  bottom: 0px;
  right: -30%;
  border: none;
}

#display .delete-btn {
  position: relative;
  height: 40px;
  width: 40px;
  margin-left: 50%;
  bottom: 0px;
  right: -10%;
}

.task-completed {
  opacity: 0.6;
  text-decoration: line-through;
}

#footer {
  grid-area: footer;
  text-align: end;
  background-color: var(--color-hl1);
  font-size: .6rem;
}

#footer a {
  color: var(--color-alt);
  
}

#footer a:hover {
  color: var(--color-alt);
  font-weight: 600;
}

#footer a:visited {
  color: var(--color-alt);
}

#addTaskDisplay {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 40%;
  z-index: 2;
  background-color: var(--color-fg);
  color: var(--color-bg);
  border: 3px solid var(--color-alt1);
}

.validateTips {
  margin-left: .5rem;
}

#taskPriority, #taskCategory {
  width: fit-content;
  padding: 2px 10px 2px 2px;
  border-radius: 0px !important;
  background-color: whitesmoke;
}

#priorityDiv, #priorityDropdown{
  display: none;
}