@import url("modern-normalize.css");

:root {
  line-height: 1.5;
  box-sizing: border-box;
}

html {
  font-size: clamp(0.75rem, 0.5rem + 1.5vw, 1.5rem);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* END TEMPLATE */

:root.dark {
  --color-bg: #333132;
  --color-fg: #c8cfc1;
  --color-hl1: #55819f;
  --color-hl2: #8297a6;
  --color-alt1: #9f7355;
  --color-alt2: #a69182;
}

:root.light {
  --color-bg: #c8cfc1;
  --color-fg: #333132;
  --color-hl1: #8297a6;
  --color-hl2: #55819f;
  --color-alt1: #a69182;
  --color-alt2: #9f7355;
}

#page {
  display: grid;
  grid-template-areas: 
    "header header" 
    "sideA display" 
    "sideB display" 
    "footer footer";
  grid-template-rows: .5fr 2fr calc(100vh-2.65fr) .15fr;
  grid-template-columns: 20vw 80vw;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 1px bold var(--color-alt1);
}

#page>div {
  padding: 10px;
}

#sideA {
  grid-area: sideA;
  display: flex;
  flex-direction: column;
}

#sideB {
  grid-area: sideB;
  display: flex;
  flex-direction: column;
}

#sideA button, #sideB button {
  border-radius: 10px;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 1px outset var(--color-alt1);
  cursor: pointer;
  padding: 5px;
}

#header {
  grid-area: header;
  background-color: var(--color-hl1);
  display: flex;
  justify-content: center;
  gap: 50px;
}

#header h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

#header button {
  margin-right: 5vw;
  font-size: .7rem;
  border-radius: 25px;
  box-shadow: 5, 5, 5, var(--color-alt1);
  border: 2px var(--color-bg) solid;
  align-self: center;
  height: fit-content;
  cursor: pointer;
  margin-left: 20vw;
}

#header button:hover {
  background-color: var(--color-alt1);
}

#display {
  grid-area: display;
  display: grid;
  border-left: 2px dashed var(--color-fg);
}

#display>div{
  background-color: var(--color-hl1);
  width: fit-content;
  border: var(--color-alt2) ridge 2px;
}

#footer {
  grid-area: footer;
  text-align: end;
  background-color: var(--color-hl1);
  font-size: .6rem;
}

#footer a {
  color: var(--color-alt);
  
}

#footer a:hover {
  color: var(--color-alt);
  font-weight: 600;
}

#footer a:visited {
  color: var(--color-alt);
}

#addTaskDisplay {
  display: none;
}